/* Used fonts:
font-family: 'Fascinate', cursive;
font-family: 'Grandstander', cursive; */

html {
    user-select: none;
    --main-color: rgb(70, 100, 145);
    --list-text-color: hsl(135, 71%, 35%);
    --list-odd-color: rgba(123, 196, 255, 0.3);
    --list-even-color: rgba(123, 196, 255, 0.1);
    --inactive-color: rgb(200, 200, 200);
    --icon-delete-color: hsl(0, 70%, 60%);
    --list-icon-size: 1.3rem;
    --list-icon-margin: 0.25rem;
    --list-icon-box-size: calc(var(--list-icon-size) + var(--list-icon-margin) * 2);
}

body {
    text-align: center;
}

h1 {
    font-family: "Fascinate", cursive;
    color: var(--main-color);
    margin: 0;
}

h2 {
    margin: 0;
    font-family: "Grandstander", cursive;
    font-size: 1.2rem;
    color: var(--list-text-color);
}

button,
button:active {
    width: 3.6rem;
    height: 2.8rem;
    outline: none;
    background: none;
    border: none;
}

button:hover i {
    font-size: 2.5rem;
}

button:active i {
    font-size: 1.8rem;
}

.main-wrapper {
    margin: 5vh auto;
    width: 90vw;
    max-width: 600px;
}

.list-cont {
    margin: 0;
    padding: 0;
    border-radius: 0.4rem;
    overflow: hidden;
}

/* LIST ITEM */

.list-item {
    /* margin: 0; */
    padding: 0.2rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
    justify-content: start;
    align-items: center;
}

.list-item:nth-child(odd) {
    background-color: var(--list-odd-color);
}
.list-item:nth-child(even) {
    background-color: var(--list-even-color);
}

/* checkbox */
.chkbox-cont {
    position: relative;
    width: var(--list-icon-box-size);
    height: var(--list-icon-box-size);
}

.chkbox-lbl {
    width: var(--list-icon-box-size);
    height: var(--list-icon-box-size);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.chkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.icon-unchecked,
.icon-checked {
    font-size: var(--list-icon-size);
    position: absolute;
    top: var(--list-icon-margin);
    left: var(--list-icon-margin);
    color: var(--main-color);
}

/* checkbox end */

.item-text {
    margin: 0;
    font-family: "Grandstander", cursive;
    font-size: 1.2rem;
    color: var(--list-text-color);
}

.icon-delete {
    font-size: var(--list-icon-size);
    color: var(--icon-delete-color);
}

/* LIST ITEM END */

.btn-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

.btn-container i {
    margin: 0;
    color: var(--main-color);
    font-size: 2rem;
}

/* CSS States */

.checked {
    text-decoration: line-through;
    color: var(--inactive-color);
}

.hide {
    visibility: hidden;
}
